<body>
<h1>About Us</h1>


<p>


<h5>
    <p class="text-white">Air India Express is Air India's subsidiary which is a low-cost airline operates over 649 flights per week covering cover 33 destinations. <br></p>
    <p class="text-white">The airline is ranked at 28 in the 2018 atmosfair Airline Index. Air India Express is one of the 125 major airlines of the world to be indicative of 'climate efficiency'.<br> 
     Class of Travel<br></p>
    <p class="text-white">Air India Express provides 3 travel classes:<br></p>
	<p class="text-white">First Class-<br></p>
	<p class="text-white">Executive Class-<br></p>
	<p class="text-white">Economy Class-All economy cabins in Air India Express are designed with ample leg space for the comfort of the passenger. Passengers can choose their seats prior in order to get a window/extra legroom seat.<br>
	<p class="text-white">Baggage allowance<br></p>
	<p class="text-white">Economy class passengers are allowed 25-35kgs for checked-in luggage and hand luggage of 7kgs.<br></p>
	<p class="text-white">Baggage Allowance differs according to the fare type chosen, please read more information on baggage allowance here. In-flight Services.<br></p>
	<p class="text-white">Air India Express's guests can enjoy exquisite food by pre-booking special meals while booking the flight or can call 9200 22022. Check-in.<br></p>
	<p class="text-white">Air India Express does not provide online check-in facilities.<br></p>
	<p class="text-white">whiteAirport check-in is 3 hrs to 90 mins before the flight's departure. Onboard Support<br>
	<p class="text-white">Air India Express provides assistance for passengers with special needs. Wheelchairs, airport assistance during check in are provided by on ground staff.<br></p>
	<p class="text-white">Passengers can choose a service that best suits their need. Expectant mothers and parents of unaccompanied children can read the regulations and policies before flying here.<br></p> 
	<p class="text-white">Refund & Cancellation Passengers can cancel their booking either through Air India Express sales’ offices or website. All cancellations are subject to a cancellation fee.<br></p>
</h5>
</p>


</body>